-- Migration: Adicionar constraints UNIQUE para permitir UPSERT seguro nas tabelas de Stockout
-- Data: 2026-04-04
-- Objetivo: Substituir DELETE+INSERT por UPSERT para evitar perda de dados

-- ============================================
-- 1. CONTAHUB_STOCKOUT (tabela legacy)
-- ============================================
-- Remover duplicatas existentes antes de adicionar constraint
DELETE FROM contahub_stockout a
USING contahub_stockout b
WHERE a.id > b.id
  AND a.bar_id = b.bar_id
  AND a.data_consulta = b.data_consulta
  AND a.prd = b.prd;

-- Adicionar constraint UNIQUE
ALTER TABLE contahub_stockout
ADD CONSTRAINT contahub_stockout_unique_daily
UNIQUE (bar_id, data_consulta, prd);

-- ============================================
-- 2. CONTAHUB_STOCKOUT_RAW (tabela v2.0)
-- ============================================
-- Remover duplicatas existentes antes de adicionar constraint
DELETE FROM contahub_stockout_raw a
USING contahub_stockout_raw b
WHERE a.id > b.id
  AND a.bar_id = b.bar_id
  AND a.data_consulta = b.data_consulta
  AND a.prd = b.prd;

-- Adicionar constraint UNIQUE
ALTER TABLE contahub_stockout_raw
ADD CONSTRAINT contahub_stockout_raw_unique_daily
UNIQUE (bar_id, data_consulta, prd);

-- ============================================
-- COMENTÁRIOS
-- ============================================
COMMENT ON CONSTRAINT contahub_stockout_unique_daily ON contahub_stockout IS 
'Garante que cada produto (prd) só existe uma vez por bar_id e data_consulta, permitindo UPSERT seguro';

COMMENT ON CONSTRAINT contahub_stockout_raw_unique_daily ON contahub_stockout_raw IS 
'Garante que cada produto (prd) só existe uma vez por bar_id e data_consulta, permitindo UPSERT seguro';
