{"openapi":"3.1.0","info":{"title":"Pix","description":"A API Pix padroniza serviços oferecidos pelo PSP recebedor no contexto do arranjo Pix, como criação de cobrança, verificação de Pix recebidos, devolução e conciliação. Os serviços expostos pelo PSP recebedor permitem ao usuário recebedor estabelecer integração de sua automação com os serviços Pix do PSP.","contact":{"name":"Banco do Brasil S.A. - Portal Developers","url":"https://developers.bb.com.br"},"version":"2.10.3"},"externalDocs":{"description":"APIs no BB - Documentação de Apoio","url":"https://apoio.developers.bb.com.br/apis"},"servers":[{"url":"https://api-pix.hm.bb.com.br/pix/v2","description":"Teste"},{"url":"https://api-pix.bb.com.br/pix/v2","description":"Produção"}],"paths":{"/webhookcobr":{"get":{"tags":["WebhookCobR"],"summary":"Exibir informações acerca do Webhook - WEBHOOKCOBR","description":"Endpoint para recuperação de informações sobre o Webhook.\n<br><br>**Responses**<br>\n<br>\n\n**403**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n  \"title\": \"Acesso Negado\",\n  \"status\": 403,\n  \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n\n**503**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n  \"title\": \"Serviço Indisponível\",\n  \"status\": 503,\n  \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434627","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"webhookUrl":{"type":"string","description":"URL Webhook","maxLength":140,"examples":["https://usuario.recebedor.com/api/webhookcobr/"]},"criacao":{"type":"string","description":"Data de Criação - Data e hora em que o webhook foi cadastrado. Respeita RFC 3339.","maxLength":29,"examples":["2023-12-20T12:51:16.485Z"]}},"required":["webhookUrl"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["webhookcobr.read"]},{"OAuth2_Teste":["webhookcobr.read"]},{"OAuth2_Producao":["webhookcobr.read"]}]},"delete":{"tags":["WebhookCobR"],"summary":"Cancelar o Webhook - WEBHOOKCOBR","description":"Endpoint para cancelamento do webhook. Não é a única forma pela qual um webhook pode ser removido.\n<br><br>**Responses**<br>\n<br>\n\n**403**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n  \"title\": \"Acesso Negado\",\n  \"status\": 403,\n  \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n**503**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n  \"title\": \"Serviço Indisponível\",\n  \"status\": 503,\n  \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434628","responses":{"204":{"description":"OK"},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["webhookcobr.write"]},{"OAuth2_Teste":["webhookcobr.write"]},{"OAuth2_Producao":["webhookcobr.write"]}]},"put":{"tags":["WebhookCobR"],"summary":"Configurar Webhook - WEBHOOKCOBR","description":"Endpoint para configuração do serviço de notificações acerca de cobranças recorrentes. Somente cobranças recorrentes associadas ao usuário recebedor serão notificadas.\n<br/>\n<br/>\n\n## Callbacks\n\n<br/>\n\n### webhookcobr\n\n<details open>\n <summary><strong> <b>POST</b> <code> {$request.body#/webhookUrl}/cobr </code> </strong></summary>\n\n<br/>\n\n> **Parameters**\n\n*No parameters*\n\n> **Request Body**\n\n<details open>\n<summary><strong>Example Values</strong></summary>\n\n```json\n{\n  \"cobsr\": [\n    {\n      \"idRec\": \"RR1234567820240115abcdefghijk\",\n      \"txid\": \"3136957d93134f2184b369e8f1c0729d\",\n      \"status\": \"ATIVA\",\n      \"atualizacao\": [\n        {\n          \"status\": \"ATIVA\",\n          \"data\": \"2024-08-20T12:34:21.300Z\"\n        }\n      ],\n      \"tentativas\": [\n        {\n          \"dataLiquidacao\": \"2024-20-08\",\n          \"tipo\": \"AGND\",\n          \"status\": \"SOLICITADA\",\n          \"endToEndId\": \"E12345678202406201221abcdef12345\"\n        }\n      ]\n    }\n  ]\n}\n```\n</details>\n\n<details>\n<summary><strong> Schema</strong></summary>\n\n`cobsr` \n\n**Cobrança Recorrente Notificada**\n\n*description: Dados enviados para criação da cobrança recorrente via API Pix.*\n\n#### Propriedades\n- `idRec`**\\***\n    \n    **ID Recorrência**\n    - *type*: `string`\n    - *title*: ID Recorrência\n    - *pattern*: `[a-zA-Z0-9]{29}`\n    - *minLength*: 29\n    - *maxLength*: 29\n    - *example*: `RR1234567820240115abcdefghijk`\n\n    **Identificador da Recorrência**\n\n    Regra de formação:\n\n    - RAxxxxxxxxyyyyMMddkkkkkkkkkkk (29 caracteres; \"case sensitive\", diferencia maiúsculas/minúsculas), sendo:\n        - \"R\": fixo (1 caractere). \"R\" para recorrência criada dentro do Pix;\n        - \"A\": identificação da possibilidade de novas tentativas, valores \"R\" ou \"N\" (1 caractere). \"R\" permite novas tentativas pós vencimento, \"N\" não permite.\n        - \"xxxxxxxx\": identificação do agente prestador de serviço (ISPB ou CNPJ, 8 caracteres numéricos [0-9]);\n        - \"yyyyMMdd\": data de criação (8 caracteres);\n        - \"kkkkkkkkkkk\": sequencial único por data (11 caracteres alfanuméricos [a-z|A-Z|0-9]).\n\n- `txid`**\\*** \n    \n    **Id da Transação**\n    \n    - *type*: `string`\n    - *title*: Id da Transação\n    - *pattern*: `[a-zA-Z0-9]{26,35}`\n\n    **Identificador da transação**\n\n    O campo `txid` determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\n    Na pacs.008, é referenciado como `TransactionIdentification` `<txId>` ou `idConciliacaoRecebedor`.\n\n    Em termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008. Uma pacs.008 também é enviada ao PSP do recebedor, contendo, além de todas as informações usuais do pagamento, o txid. Ao perceber um recebimento dotado de txid, o PSP do recebedor está apto a se comunicar com o usuário recebedor, informando que um pagamento específico foi liquidado.\n\n    O txid é criado exclusivamente pelo usuário recebedor e está sob sua responsabilidade. O txid, no contexto de representação de uma cobrança, é único por CPF/CNPJ do usuário recebedor. Cabe ao PSP recebedor validar essa regra na API Pix.\n\n- `status`**\\*** \n\n    **Status do registro da cobrança**\n\n    - *type*: `string`\n    - *enum*: `CRIADA`, `ATIVA`, `CONCLUIDA`, `EXPIRADA`, `REJEITADA`, `CANCELADA`\n   \n- `atualizacao`**\\*** \n\n    **Histórico de Status**\n\n    - *type*: `array`\n    - *items*:\n\n        - `status`**\\***: \n            \n            **Status da Cobrança**\n\n            - *type*: `string` \n            - *title*: Status da Cobrança\n            \n            **Status da Cobrança**\n\n            Enum: `CRIADA`, `ATIVA`, `CONCLUIDA`, `EXPIRADA`, `REJEITADA`, `CANCELADA`\n\n        - `data`**\\***:\n\n           - *type*: `string` ($date-time)\n\n            **Data e hora do registro de status atualizado. Respeita RFC 3339.**\n\n    **Histórico das mudanças de status das cobranças recorrentes.**\n\n- `encerramento` \n\n    **Detalhamento do encerramento da cobrança**\n\n    - *type*: `object`\n    - *properties*:\n        \n        oneOf -> \n\n        - `cancelamento`:\n\n            **Informações sobre o cancelamento da cobrança**\n\n            - `solicitante`**\\***: \n                \n                **Solicitante do cancelamento**\n                \n                - *type*: `string` \n                - *title*: Solicitante do Cancelamento\n                \n                Enum: `PSP_PAGADOR`, `USUARIO_PAGADOR`, `PSP_RECEBEDOR`, `USUARIO_RECEBEDOR`\n\n            - `codigo`**\\***: \n            \n                **Código do cancelamento**\n\n                - *type*: `string`\n                - *title*: Código do cancelamento\n                - *maxLength*: 4\n\n                **Código do cancelamento. Corresponde ao código de cancelamento presente no catálogo de mensagens.**\n\n                Enum:`ACCT`, `BLCK`, `CCLD`, `FAIL`, `OTHR`, `SLBD`, `SLCR`\n\n            - `descricao`**\\***:\n\n                **Descrição do cancelamento**\n\n                - *type*: `string`\n                - *title*: Descricao do cancelamento\n                - *maxLength*: 400\n                \n                **Descricao da causa do cancelamento**\n\n        - `rejeicao`:\n            \n            **Informações sobre a rejeição da cobrança**\n\n            - `codigo`**\\***:\n                \n                **Código da Rejeição**\n                - *type*: `string`\n                - *title*: Código da rejeição\n                - *maxLength*: 4\n\n                **Código da rejeição. Corresponde ao código de rejeição presente no catálogo de mensagens.**\n\n                Enum: `AB10`, `AC05`, `AC06`, `AM02`, `AM09`, `DENC`, `DS27`, `DTED`, `DTNT`, `FBRD`, `IRNT`, `MIDI`, `MSUC`, `NIEC`, `NIPA`, `NITX`, `QUNT`, `RC09`, `UDEI` \n\n            - `descricao`**\\***:\n\n                **Descricao da rejeição**\n\n                - *type*: `string`\n                - *title*: Descricao da rejeição\n                - *maxLength*: 400\n\n                **Descricao da causa da rejeição**\n\n- `tentativas` \n\n    **Histórico de Tentativas de Cobrança**\n\n    - *type*: `array`\n    - *items*:\n        - `dataLiquidacao`**\\***: \n            - *type*: `string`\n            - *example*: `2023-04-01`\n\n            **Data da liquidação da cobrança. Trata-se de uma data, no formato YYYY-MM-DD, segundo ISO 8601.**\n\n        - `tipo`**\\***: \n            \n            **Tipo da tentativa da cobrança.**\n            \n            - *type*: `string`\n            - *title*: Tipo de Tentativa\n            - *enum*: `AGND`, `NTAG`, `RIFL`\n\n        - `status`**\\***: \n\n            **Status da Tentativa**\n\n            - *type*: `string`\n            - *enum*: `SOLICITADA`, `AGENDADA`, `PAGA`, `CANCELADA`, `REJEITADA`, `EXPIRADA`\n            - *title*: Status da Tentativa\n\n        - `endToEndId`**\\***: \n\n            **Id fim a fim da transação**\n\n            - *title*: Id fim a fim da transaçã\n            - *type*: `string`\n            - *pattern*: `[a-zA-Z0-9]{32}`\n            - *minLength*: 32\n            - *maxLength*: 32\n\n            **EndToEndIdentification que transita na PACS002, PACS004 e PACS008**\n\n        - `atualizacao`: \n\n            **Histórico das mudanças de status da tentativa de cobrança.**\n\n            - *type*: `array`\n            - *items*:\n            - `status`**\\***: \n\n                **Status da Tentativa**\n\n                - *type*: `string`\n                - *title*: \tStatus da Tentativa\n\n                **Status da tentativa da cobrança.**\n\n                - *enum*: `SOLICITADA`, `AGENDADA`, `PAGA`, `CANCELADA`, `REJEITADA`, `EXPIRADA`\n\n                **Status registrado na atualização da tentativa.**\n\n            - `data`**\\***: \n\n                - *type*: `string`\n                \n                **Data e hora do registro de status atualizado. Respeita RFC 3339.**\n\n        - `rejeicao`: \n\n            *description: Informações sobre a rejeição da tentativa da cobrança*\n\n            - *type*: `object`\n            - *properties*:\n\n                - `codigo`: \n\n                    **Código da Rejeição da tentativa**\n\n                    - *type*: `string`\n                    - *title*: Código da Rejeição da tentativa\n                    - *maxLength*: 4\n\n                    **Código da rejeição da tentativa. Corresponde ao código de rejeição presente no catálogo de mensagens. Os códigos de rejeição da tentativa `AC05`, `AM09`,`DENC`,`DS27`,`DTED`,`MIDI`,`MSUC`,`NITX`,`RC09` e `DTED` causam a rejeição da cobrança recorrente correspondente.**\n                    \n                    Enum:  `AB10`, `AC05`, `AC06`, `AM02`, `AM09`, `DENC`, `DS27`, `DTED`, `DTNT`, `FBRD`, `IRNT`, `MIDI`, `MSUC`, `NIEC`, `NIPA`, `NITX`, `QUNT`, `RC09`, `UDEI`\n\n                - `descricao`: \n\n                    **Descrição da Rejeição**\n\n                    - *type*: `string`\n                    - *title*: Descrição da Rejeição\n                    - *maxLength*: 400\n\n                    **Descricao da causa da rejeição**\n    - `pix` \n\n        **Pix recebidos**\n\n        - *type*: `array`\n        - *items*:\n            - `endToEndId`**\\***: \n                \n                **Id fim a fim da transação**\n                \n                - *type*: `string`\n                - *pattern*: `[a-zA-Z0-9]{32}`\n                - *minLength*: 32\n                - *maxLength*: 32\n                - *title*: Id fim a fim da transação\n                - *example*: `E12345678202406201221abcdef12345`\n                \n                **EndToEndIdentification que transita na PACS002, PACS004 e PACS008**\n\n            - `txid`**\\***: \n                \n                **Id da Transação**\n                \n                - *type*: `string`\n                - *title*: Id da transação\n                - *pattern*: `[a-zA-Z0-9]{26,35}`\n                \n                **Identificador da transação**\n            \n                O campo `txid` determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\n                Na pacs.008, é referenciado como `TransactionIdentification` `<txId>` ou `idConciliacaoRecebedor`.\n\n                Em termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008. Uma pacs.008 também é enviada ao PSP do recebedor, contendo, além de todas as informações usuais do pagamento, o txid. Ao perceber um recebimento dotado de txid, o PSP do recebedor está apto a se comunicar com o usuário recebedor, informando que um pagamento específico foi liquidado.\n\n                O txid é criado exclusivamente pelo usuário recebedor e está sob sua responsabilidade. O txid, no contexto de representação de uma cobrança, é único por CPF/CNPJ do usuário recebedor. Cabe ao PSP recebedor validar essa regra na API Pix.\n\n            - `valor`**\\***: \n                \n                **Valor do Pix**\n                \n                - *type*: `string`\n                - *pattern*: `^\\d{1,10}\\.\\d{2}$`\n                - *title*: Valor\n                \n                **Valor do Pix.**\n\n            - `horario`**\\***: \n                \n                **Horario**\n                \n                - *type*: `string`\n                - *format*: `date-time`\n                - *title*: Horário em que o Pix foi processado no PSP.\n                \n                **Horário em que o Pix foi processado no PSP.**\n\n            - `infoPagador`: \n                \n                **Informação livre do pagador**\n                \n                - *type*: `string`\n                - *title*: Informação livre do pagador\n                - *maxLength*: 140\n                \n            - `devolucoes`: \n                \n                **Devoluções associadas ao Pix**\n                \n                - *type*: `array`\n                - *items*:\n                    - `id`**\\***: \n                        \n                        **ID da devolução**\n                        \n                        - *type*: `string`\n                        - *pattern*: `[a-zA-Z0-9]{1,35}`\n                        - *minLength*: 1\n                        - *maxLength*: 35\n                        - *title*: ID\n                        \n                        **Identificador da devolução.**\n\n                    - `rtrId`**\\***: \n                        \n                        - *type*: `string`\n                        - *pattern*: `[a-zA-Z0-9]{32}`\n                        - *minLength*: 32\n                        - *maxLength*: 32\n                        - *title*: RtrId\n                        \n                        **ReturnIdentification que transita na PACS004.**\n\n                    - `valor`**\\***: \n                        \n                        **Valor a devolver**\n                        \n                        - *type*: `string`\n                        - *pattern*: `^\\d{1,10}\\.\\d{2}$`\n                        - *title*: Valor a devolver\n                        \n                        **Valor devolvido ao pagador.**\n\n                    - `natureza`: \n                        \n                        **Natureza da devolução**\n\n                        - *type*: `string`\n                        - *title*: Natureza da devolução\n                        \n                        **Indica qual é a natureza da devolução. Uma devolução pode ser relacionada a um Pix comum (com códigos possíveis: `MD06` e `FR01` da pacs.004 e `REFU` da pacs.008). Na ausência deste campo a natureza deve ser interpretada como sendo de um Pix comum (`ORIGINAL`).\n\n                        **As naturezas são assim definidas:**\n\n                        - **ORIGINAL**: quando a devolução é solicitada pelo usuário recebedor e se refere a um Pix comum (`MD06`);\n                        - **MED_FRAUDE**: quando a devolução ocorre no âmbito do MED (Mecanismo Especial de Devolução) por fundada suspeita de fraude e se refere a um Pix comum (`FR01`).\n                        - **MED_PIX_AUTOMATICO**: reembolso total ou parcial ao participante do usuário pagador no âmbito do MED (Mecanismo Especial de Devolução) para o Pix Automático pela utilização de recursos próprios para ressarcimento do usuário pagador.(`REFU`);\n\n                        **Os valores de devoluções são sempre limitados aos valores máximos a seguir:**\n\n                        - Pix comum: o valor da devolução é limitado ao valor do próprio Pix (a natureza nesse caso pode ser: ORIGINAL, MED_PIX_AUTOMATICO ou MED_FRAUDE);\n\n                        Enum*: `ORIGINAL`, `MED_PIX_AUTOMATICO`, `MED_FRAUDE`                     \n                        \n                        **Natureza da devolução.**\n\n                    - `descricao`: \n                        \n                        **Mensagem ao pagador relativa à devolução.**\n                        \n                        - *type*: `string`\n                        - *title*: \tMensagem ao pagador relativa à devolução.\n                        - *maxLength*: 140\n                        \n                        **O campo `descricao`, opcional, determina um texto a ser apresentado ao pagador contendo informações sobre a devolução. Esse texto será preenchido, na pacs.004, pelo PSP do recebedor, no campo RemittanceInformation. O tamanho do campo na pacs.004 está limitado a 140 caracteres.**\n                   \n                    - `horario`: \n                        \n                        - *type*: `object`\n                        - *properties*:\n                            - `solicitacao`: \n                                \n                                **Horário de solicitação**\n                                \n                                - *type*: `string`\n                                - *format*: `date-time`\n                                - *title*: \tHorário de solicitação\n                                \n                                **Horário no qual a devolução foi solicitada no PSP.**\n\n                            - `liquidacao`: \n                                \n                                **Horário de liquidacao**\n                                \n                                - *type*: `string`\n                                - *format*: `date-time`\n                                - *title*: \tHorário de liquidacao\n                                \n                                **Horário no qual a devolução foi liquidada no PSP.**\n\n                    - `status`**\\***: \n                        \n                        **Status da devolução**\n                        \n                        - *type*: `string`\n                        - *title*: Status\n\n                        **Status da devolução.**\n\n                        - *enum*: `EM_PROCESSAMENTO`, `DEVOLVIDO`, `NAO_REALIZADO`\n                        \n                    - `motivo`: \n                        \n                        **Motivo da devolução**\n                        \n                        - *type*: `string`\n                        - *title*: Descrição do status.\n                        - *maxLength*: 140\n                        \n                        **Status da Devolução**\n\n                        Campo opcional que pode ser utilizado pelo PSP recebedor para detalhar os motivos de a devolução ter atingido o status em questão. Pode ser utilizado, por exemplo, para detalhar o motivo de a devolução não ter sido realizada.\n</details>\n\n<br/>\n\n> **Responses**\n\n| Status Code | Description | Links |\n|-------------|-------------|--------------|\n| **200** |  Notificação recebida com sucesso | *No links* |\n\n</details>\n\n<br/>\n<br/>\n\n## Responses\n\n<br/>\n<br/>\n\n**400**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/WebhookOperacaoInvalida\",\n  \"title\": \"Webhook inválido.\",\n  \"status\": 400,\n  \"detail\": \"A presente requisição busca criar um webhook sem respeitar o _schema_ ou, ainda, com sentido semanticamente inválido.\"\n}\n```\n\n**403**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n  \"title\": \"Acesso Negado\",\n  \"status\": 403,\n  \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n\n**503**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n  \"title\": \"Serviço Indisponível\",\n  \"status\": 503,\n  \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434626","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"webhookUrl":{"type":"string","description":"URL Webhook","maxLength":140,"examples":["https://usuario.recebedor.com/api/webhookcobr/"]}},"required":["webhookUrl"]}}}},"responses":{"200":{"description":"OK"},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["webhookcobr.write"]},{"OAuth2_Teste":["webhookcobr.write"]},{"OAuth2_Producao":["webhookcobr.write"]}]}},"/pix":{"get":{"tags":["Pix"],"summary":"Consultar Pix recebidos - PIX","description":"Endpoint para consultar Pix recebidos\n<br><br>**Responses**<br>\n<br>\n**403**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n    \"title\": \"Acesso Negado\",\n    \"status\": 403,\n    \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n**503**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n    \"title\": \"Serviço Indisponível\",\n    \"status\": 503,\n    \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434649","parameters":[{"name":"inicio","in":"query","description":"Data inicial da pesquisa. Intervalo máximo: 5 dias.","required":true,"example":"2020-01-01T00:00:000Z","schema":{"type":"string","maxLength":29}},{"name":"fim","in":"query","description":"Data final da pesquisa. Intervalo máximo: 5 dias.","required":true,"example":"2020-01-01T00:00:000Z","schema":{"type":"string","maxLength":29}},{"name":"txid","in":"query","description":"txid","required":false,"schema":{"type":"string","maxLength":35}},{"name":"txIdPresente","in":"query","description":"txIdPresente","required":false,"schema":{"type":"boolean"}},{"name":"devolucaoPresente","in":"query","description":"devolucaoPresente","required":false,"schema":{"type":"boolean"}},{"name":"cpf","in":"query","description":"cpf","required":false,"schema":{"type":"string","maxLength":11}},{"name":"cnpj","in":"query","description":"cnpj","required":false,"schema":{"type":"string","maxLength":14}},{"name":"paginacao.paginaAtual","in":"query","description":"paginacao.paginaAtual","required":false,"example":"0","schema":{"format":"int32","pattern":"Default value : 0","type":"integer"}},{"name":"paginacao.itensPorPagina","in":"query","description":"paginacao.itensPorPagina","required":false,"example":"100","schema":{"format":"int32","pattern":"Default value : 100","type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"parametros":{"type":"object","description":"Parâmetros utilizados para a realização de uma consulta de Pix.","properties":{"inicio":{"type":"string","description":"Data inicial utilizada na consulta. Respeita RFC 3339.","maxLength":29,"examples":["2020-01-01T00:00:000Z"]},"fim":{"type":"string","description":"Data de fim utilizada na consulta. Respeita RFC 3339.","maxLength":29,"examples":["2020-12-01T17:00:000Z"]},"txid":{"type":"string","description":"Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["7978c0c97ea847e78e8849634473c1f1"]},"txIdPresente":{"type":"boolean","description":"Filtro pela existência de txid."},"devolucaoPresente":{"type":"boolean","description":"Filtro pela existência de devolução."},"cpf":{"type":"string","description":"CPF","pattern":"[0-9]{11}","maxLength":11,"examples":["12345678910"]},"cnpj":{"type":"string","description":"CNPJ","pattern":"[0-9]{14}","maxLength":14,"examples":["12345678000195"]},"paginacao":{"type":"object","description":"paginacao","properties":{"paginaAtual":{"type":"integer","format":"int32","description":"Número da página recuperada.","pattern":"minimum: 0","examples":["0"]},"itensPorPagina":{"type":"integer","format":"int32","description":"Quantidade de registros retornado na página.","pattern":"minimum: 1","examples":["100"]},"quantidadeDePaginas":{"type":"integer","format":"int32","description":"Quantidade de páginas disponíveis para consulta.","pattern":"minimum: 1","examples":["1"]},"quantidadeTotalDeItens":{"type":"integer","format":"int32","description":"Quantidade total de itens disponíveis de acordo com os parâmetros informados.","pattern":"minimum: 0","examples":["2"]}},"required":["paginaAtual","itensPorPagina","quantidadeDePaginas","quantidadeTotalDeItens"]}},"required":["inicio","fim","paginacao"]},"pix":{"type":"array","description":"Lista de Pix recebidos","maxItems":500,"items":{"type":"object","properties":{"endToEndId":{"type":"string","description":"EndToEndIdentification que transita na PACS002, PACS004 e PACS008","pattern":"[a-zA-Z0-9]{32}\nminLength: 32\nmaxLength: 32","maxLength":32,"examples":["E000000002025072416164Q420G7G5VD"]},"txid":{"type":"string","description":"Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.\n\nEm termos de fluxo de funcionamento, o txid é lido pelo aplicativo do PSP do pagador e, depois de confirmado o pagamento, é enviado para o SPI via pacs.008","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["7978c0c97ea847e78e8849634473c1f1"]},"valor":{"type":"string","description":"Valor do Pix.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"componentesValor":{"type":"object","description":"O objetivo dessa estrutura é explicar os elementos de composição do valor do Pix, incluindo informações sobre as multas, juros, descontos e abatimentos quando o Pix for relativo a cobranças com vencimento.","properties":{"original":{"type":"object","description":"Pix original","properties":{"valor":{"type":"string","description":"Valor original do Pix.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]}},"required":["valor"]},"saque":{"type":"object","description":"Pix saque.","properties":{"valor":{"type":"string","description":"Valor do Saque Pix.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]},"modalidadeAgente":{"type":"string","description":"Modalidade do Agente.\nAGTEC: Agente Estabelecimento Comercial\nAGTOT: Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS: Agente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque.","pattern":"\\d{8}","maxLength":8,"examples":["12345678"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Pix troco.","properties":{"valor":{"type":"string","description":"Valor do Troco Pix.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]},"modalidadeAgente":{"type":"string","description":"Modalidade do Agente:\nAGTEC: Agente Estabelecimento Comercial\nAGTOT: Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTOT"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque.","pattern":"\\d{8}","maxLength":8,"examples":["12345678"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"juros":{"type":"object","description":"Juros","properties":{"valor":{"type":"string","description":"Valor dos juros.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]}},"required":["valor"]},"multa":{"type":"object","description":"Multa","properties":{"valor":{"type":"string","description":"Valor da multa.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]}},"required":["valor"]},"abatimento":{"type":"object","description":"Abatimento","properties":{"valor":{"type":"string","description":"Valor do abatimento.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["3.00"]}},"required":["valor"]},"desconto":{"type":"object","description":"Desconto","properties":{"valor":{"type":"string","description":"Valor do desconto.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["2.00"]}},"required":["valor"]}}},"chave":{"type":"string","description":"**Formato do campo chave**\n- Campo chave do recebedor conforme atribuído na respectiva PACS008.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","pattern":"<= 77 characters","maxLength":77,"examples":["7d9f0335-8dcc-4054-9bf9-0dbd61d36906"]},"horario":{"type":"string","description":"Horário em que o Pix foi processado no PSP.","maxLength":29,"examples":["2020-09-09T20:16:00.358Z"]},"infoPagador":{"type":"string","description":"Informação livre do pagador","pattern":"<= 140 characters","maxLength":140,"examples":["Pagamento serviço realizado"]},"devolucoes":{"type":"array","description":"Devoluções","maxItems":500,"items":{"type":"object","properties":{"id":{"type":"string","description":"Id gerado pelo cliente para representar unicamente uma devolução.","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["rYAmHJC2dFwr0oRU8Mi"]},"rtrId":{"type":"string","description":"ReturnIdentification que transita na PACS004.","pattern":"[a-zA-Z0-9]{32}\nminLength: 32\nmaxLength: 32","maxLength":32,"examples":["D12345678202009091000abcde123456"]},"valor":{"type":"string","description":"Valor a devolver.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"natureza":{"type":"string","description":"Natureza","pattern":"<= 15 characters matches [ ORIGINAL, RETIRADA, MED_OPERACIONAL, MED_FRAUDE ]","maxLength":15,"examples":["ORIGINAL"]},"descricao":{"type":"string","description":"Descrição","pattern":"<= 200 characters","maxLength":200,"examples":["Compra estornada"]},"horario":{"type":"object","description":"horario","properties":{"solicitacao":{"type":"string","description":"Horário no qual a devolução foi solicitada no PSP.","maxLength":29,"examples":["2020-09-09T20:16:00.358Z"]},"liquidacao":{"type":"string","description":"Horário no qual a devolução foi liquidada no PSP.","maxLength":29,"examples":["2020-09-09T20:16:01.358Z"]}}},"status":{"type":"string","description":"Status da devolução.","pattern":"[ EM_PROCESSAMENTO, DEVOLVIDO, NAO_REALIZADO ]","maxLength":16,"examples":["DEVOLVIDO"]},"motivo":{"type":"string","description":"Descrição do status da devolução.","pattern":"<= 140 characters","maxLength":140,"examples":["Pix não aceito pelo recebedor."]}},"required":["id","rtrId","valor","horario","status"]}}},"required":["endToEndId","valor","horario"]}}},"required":["parametros"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pix.read"]},{"OAuth2_Teste":["pix.read"]},{"OAuth2_Producao":["pix.read"]}]}},"/locrec/{id}/idRec":{"delete":{"tags":["LocRec"],"summary":"Desvincular uma recorrência de uma location - LOCREC","description":"Endpoint utilizado para desvincular uma recorrência de uma location.\n<br><br>**Responses**<br>\n<br>\n\n**403**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n  \"title\": \"Acesso Negado\",\n  \"status\": 403,\n  \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n\n**503**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n  \"title\": \"Serviço Indisponível\",\n  \"status\": 503,\n  \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434673","parameters":[{"name":"id","in":"path","description":"Id da location cadastrada para servir um payload","required":true,"schema":{"type":"string","maxLength":140}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Id da location - Identificador da location a ser informada na criação da cobrança .","examples":["12069"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","pattern":"<= 77 characters","maxLength":77,"examples":["pix.example.com/qr/v2/rec/2353c790eefb11eaadc10242ac120002"]},"criacao":{"type":"string","description":"Data de Criação - Data e hora em que a location foi criada. Respeita RFC 3339.","maxLength":29,"examples":["2023-04-22T20:15:30.358Z"]},"idRec":{"type":"string","description":"string (ID Recorrência) 29 characters.","pattern":"[a-zA-Z0-9]{29}","maxLength":29,"examples":["RN1234567820241130lkwdefghijk"]}},"required":["id","location","criacao"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["payloadlocationrec.write"]},{"OAuth2_Teste":["payloadlocationrec.write"]},{"OAuth2_Producao":["payloadlocationrec.write"]}]}},"/cob/{txid}":{"patch":{"tags":["Cob"],"summary":"Revisar cobrança imediata - COB","description":"Endpoint para revisar uma cobrança imediata.\n<br><br>**Responses**<br>\n<br>\n**400**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/CobOperacaoInvalida\",\n    \"title\": \"Operação inválida.\",\n    \"status\": 400,\n    \"detail\": \"A requisição que busca alterar ou criar uma cobrança para pagamento imediato não respeita o _schema_ ou está semanticamente errada.\"\n}\n```\n**403**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n    \"title\": \"Acesso Negado\",\n    \"status\": 403,\n    \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n**503**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n    \"title\": \"Serviço Indisponível\",\n    \"status\": 503,\n    \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434644","parameters":[{"name":"txid","in":"path","description":"txid","required":true,"schema":{"type":"string","maxLength":35}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"calendario":{"type":"object","description":"Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.","properties":{"expiracao":{"type":"integer","format":"int32","description":"Tempo de vida da cobrança, especificado em segundos a partir da data de criação (Calendario.criacao)","examples":["3600"]}}},"devedor":{"type":"object","description":"Os campos aninhados sob o objeto devedor são opcionais e identificam o devedor, ou seja, a pessoa ou a instituição a quem a cobrança está endereçada. Não identifica, necessariamente, quem irá efetivamente realizar o pagamento. Um CPF pode ser o devedor de uma cobrança, mas pode acontecer de outro CPF realizar, efetivamente, o pagamento do documento. Não é permitido que o campo devedor.cpf e campo devedor.cnpj estejam preenchidos ao mesmo tempo. Se o campo devedor.cnpj está preenchido, então o ca","properties":{"cpf":{"type":"string","description":"CPF do usuário.","pattern":"[0-9]{11}","maxLength":11,"examples":["12345678910"]},"cnpj":{"type":"string","description":"CNPJ do usuário.","pattern":"[0-9]{14}","maxLength":14,"examples":["12345678000195"]},"nome":{"type":"string","description":"Nome do usuário.","maxLength":200,"examples":["Empresa de Serviços SA"]}},"required":["cpf","cnpj","nome"]},"loc":{"type":"object","description":"Identificador da localização do payload.","properties":{"id":{"type":"integer","description":"id","examples":["789"]}}},"status":{"type":"string","description":"Status da Cobrança","maxLength":31,"examples":["ATIVA"]},"valor":{"type":"object","description":"Valores monetários referentes à cobrança.","properties":{"original":{"type":"string","description":"Valor original da cobrança.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["123.45"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Trata-se de um campo que determina se o valor final do documento pode ser alterado pelo pagador. Na ausência desse campo, assume-se que não se pode alterar o valor do documento de cobrança, ou seja, assume-se o valor 0. Se o campo estiver presente e com valor 1, então está determinado que o valor final da cobrança pode ter seu valor alterado pelo pagador.","pattern":"minimun: 0 \nmaximun: 1","examples":["1"]},"retirada":{"type":"object","description":"É uma estrutura opcional relacionada ao conceito de recebimento de numerário. Apenas um agrupamento por vez é permitido, quando há saque não há troco e vice-versa.","properties":{"saque":{"type":"object","description":"Informações relacionadas ao saque","properties":{"valor":{"type":"string","description":"Valor do saque efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do saque. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"AGTEC: Agente Estabelecimento Comercial\nAGTOT:Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS: Agente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Informações relacionadas ao troco","properties":{"valor":{"type":"string","description":"Valor do troco efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do troco. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"SIGLA\tDescrição\nAGTEC\tAgente Estabelecimento Comercial\nAGTOT\tAgente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]}}}}},"chave":{"type":"string","description":"**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","maxLength":77,"examples":["a1f4102e-a446-4a57-bcce-6fa48899c1d1"]},"solicitacaoPagador":{"type":"string","description":"O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.","maxLength":140,"examples":["Cobrança dos serviços prestados."]},"infoAdicionais":{"type":"array","description":"Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.","maxItems":50,"items":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do campo.","maxLength":50,"examples":["Campo 1"]},"valor":{"type":"string","description":"Dados do campo","maxLength":200,"examples":["Informação Adicional1 do PSP-Recebedor"]}},"required":["nome","valor"]}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"calendario":{"type":"object","description":"Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.","properties":{"criacao":{"type":"string","description":"Timestamp que indica o momento em que foi criada a cobrança. Respeita o formato definido na RFC 3339.","maxLength":29,"examples":["2020-09-09T20:15:00.358Z"]},"expiracao":{"type":"integer","format":"int32","description":"Tempo de vida da cobrança, especificado em segundos a partir da data de criação (Calendario.criacao)","examples":["3600"]}},"required":["criacao","expiracao"]},"txid":{"type":"string","description":"Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["7978c0c97ea847e78e8849634473c1f1"]},"revisao":{"type":"integer","format":"int32","description":"Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1.","examples":["0"]},"devedor":{"type":"object","description":"Os campos aninhados sob o objeto devedor são opcionais e identificam o devedor, ou seja, a pessoa ou a instituição a quem a cobrança está endereçada. Não identifica, necessariamente, quem irá efetivamente realizar o pagamento. Um CPF pode ser o devedor de uma cobrança, mas pode acontecer de outro CPF realizar, efetivamente, o pagamento do documento. Não é permitido que o campo devedor.cpf e campo devedor.cnpj estejam preenchidos ao mesmo tempo. Se o campo devedor.cnpj está preenchido, então o ca","properties":{"cpf":{"type":"string","description":"CPF do usuário.","maxLength":11,"examples":["12345678910"]},"cnpj":{"type":"string","description":"CNPJ do usuário.","maxLength":14,"examples":["12345678000195"]},"nome":{"type":"string","description":"Nome do usuário.","maxLength":200,"examples":["Empresa de Serviços SA"]}},"required":["cpf","cnpj","nome"]},"loc":{"type":"object","description":"Identificador da localização do payload.","properties":{"id":{"type":"integer","format":"int32","description":"Identificador da location a ser informada na criação da cobrança.","examples":["789"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","maxLength":77,"examples":["pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25"]},"tipoCob":{"type":"string","description":"Tipo da cobrança","maxLength":4,"examples":["cob"]},"criacao":{"type":"string","description":"Data e hora em que a location foi criada. Respeita RFC 3339.","maxLength":29,"examples":["2020-09-09T20:15:00.358Z"]}},"required":["id","location","tipoCob","criacao"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","maxLength":77,"examples":["pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25"]},"status":{"type":"string","description":"Status da Cobrança","maxLength":31,"examples":["ATIVA"]},"valor":{"type":"object","description":"valores monetários referentes à cobrança.","properties":{"original":{"type":"string","description":"Valor original da cobrança.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Trata-se de um campo que determina se o valor final do documento pode ser alterado pelo pagador. Na ausência desse campo, assume-se que não se pode alterar o valor do documento de cobrança, ou seja, assume-se o valor 0. Se o campo estiver presente e com valor 1, então está determinado que o valor final da cobrança pode ter seu valor alterado pelo pagador.","pattern":"minimun: 0\nmaximun:1","examples":["1"]},"retirada":{"type":"object","description":"É uma estrutura opcional relacionada ao conceito de recebimento de numerário. Apenas um agrupamento por vez é permitido, quando há saque não há troco e vice-versa.","properties":{"saque":{"type":"object","description":"Informações relacionadas ao saque","properties":{"valor":{"type":"string","description":"Valor do saque efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do saque. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"AGTEC: Agente Estabelecimento Comercial\nAGTOT:Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS: Agente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Informações relacionadas ao troco","properties":{"valor":{"type":"string","description":"Valor do troco efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do troco. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"SIGLA\tDescrição\nAGTEC\tAgente Estabelecimento Comercial\nAGTOT\tAgente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]}}}},"required":["original"]},"pixCopiaECola":{"type":"string","description":"Pix Copia e Cola correspondente à cobrança.\nTrata-se da sequência de caracteres que representa o BR Code.","pattern":"<= 512 characters","maxLength":512,"examples":["00020101021226920014br.gov.bcb.pix2570qrcodepix-h.bb.com.br/pix/v2/cobv/2f22bc49-a962-4898-8ca2-d2d5"]},"hyperlink":{"type":"string","description":"Hyperlink BB para direcionar o usuário pagador para o pagamento da cobrança.","maxLength":700,"examples":["https://pagamentospix.apps.bb.com.br/m/#/cm49eyJvcHIiOiJQSVhRUkMiLCJpZCI6Ijg5ZmVkNDk2LTdiYWYtNDIxYS0"]},"chave":{"type":"string","description":"**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","maxLength":77,"examples":["a1f4102e-a446-4a57-bcce-6fa48899c1d1"]},"solicitacaoPagador":{"type":"string","description":"O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.","maxLength":140,"examples":["Cobrança dos serviços prestados."]},"infoAdicionais":{"type":"array","description":"Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.","maxItems":50,"items":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do campo.","maxLength":50,"examples":["Campo 1"]},"valor":{"type":"string","description":"Dados do campo.","maxLength":200,"examples":["Informação Adicional1 do PSP-Recebedor"]}},"required":["nome","valor"]}}},"required":["calendario","revisao","status","chave"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["cob.write"]},{"OAuth2_Teste":["cob.write"]},{"OAuth2_Producao":["cob.write"]}]},"get":{"tags":["Cob"],"summary":"Consultar cobrança imediata - COB","description":"Endpoint para consultar uma cobrança através de um determinado txid.\n<br><br>**Responses**<br>\n<br>\n**403**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n    \"title\": \"Acesso Negado\",\n    \"status\": 403,\n    \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n**503**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n    \"title\": \"Serviço Indisponível\",\n    \"status\": 503,\n    \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}","operationId":"18434645","parameters":[{"name":"txid","in":"path","description":"txid","required":true,"schema":{"type":"string","maxLength":35}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"revisao":{"type":"integer","format":"int32","description":"Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1.","examples":["0"]}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"calendario":{"type":"object","description":"Dados criados ou alterados da cobrança imediata via API Pix","properties":{"expiracao":{"type":"integer","format":"int32","description":"Tempo de vida da cobrança, especificado em segundos a partir da data de criação (Calendario.criacao)","examples":["3600"]},"criacao":{"type":"string","description":"Timestamp que indica o momento em que foi criada a cobrança. Respeita o formato definido na RFC 3339.","maxLength":29,"examples":["2020-09-09T20:15:00.358Z"]}},"required":["expiracao","criacao"]},"devedor":{"type":"object","description":"Os campos aninhados sob o objeto devedor são opcionais e identificam o devedor, ou seja, a pessoa ou a instituição a quem a cobrança está endereçada. Não identifica, necessariamente, quem irá efetivamente realizar o pagamento. Um CPF pode ser o devedor de uma cobrança, mas pode acontecer de outro CPF realizar, efetivamente, o pagamento do documento. Não é permitido que o campo devedor.cpf e campo devedor.cnpj estejam preenchidos ao mesmo tempo. Se o campo devedor.cnpj está preenchido, então o ca","properties":{"cpf":{"type":"string","description":"CPF do usuário.","pattern":"[0-9]{11}","maxLength":11,"examples":["12345678910"]},"cnpj":{"type":"string","description":"CNPJ do usuário.","pattern":"[0-9]{14}","maxLength":14,"examples":["12345678000195"]},"nome":{"type":"string","description":"Nome do usuário.","maxLength":200,"examples":["Empresa de Serviços SA"]}},"required":["cpf","cnpj","nome"]},"loc":{"type":"object","description":"Identificador da localização do payload.","properties":{"id":{"type":"string","description":"Identificador da location a ser informada na criação da cobrança.","maxLength":9,"examples":["789"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","maxLength":77,"examples":["pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25"]},"tipoCob":{"type":"string","description":"Tipo da cobrança","maxLength":4,"examples":["cob"]},"criacao":{"type":"string","description":"Data e hora em que a location foi criada. Respeita RFC 3339.","maxLength":29,"examples":["2020-09-09T20:15:00.358Z"]}},"required":["id","location","tipoCob","criacao"]},"valor":{"type":"object","description":"Valores monetários referentes à cobrança.","properties":{"original":{"type":"string","description":"Valor original da cobrança.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Trata-se de um campo que determina se o valor final do documento pode ser alterado pelo pagador. Na ausência desse campo, assume-se que não se pode alterar o valor do documento de cobrança, ou seja, assume-se o valor 0. Se o campo estiver presente e com valor 1, então está determinado que o valor final da cobrança pode ter seu valor alterado pelo pagador.","pattern":"minumun: 0\nmaximun: 1","examples":["1"]},"retirada":{"type":"object","description":"É uma estrutura opcional relacionada ao conceito de recebimento de numerário. Apenas um agrupamento por vez é permitido, quando há saque não há troco e vice-versa.","properties":{"saque":{"type":"object","description":"Informações relacionadas ao saque","properties":{"valor":{"type":"string","description":"Valor do saque efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do saque. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"AGTEC: Agente Estabelecimento Comercial\nAGTOT:Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS: Agente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Informações relacionadas ao troco","properties":{"valor":{"type":"string","description":"Valor do troco efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do troco. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"SIGLA\tDescrição\nAGTEC\tAgente Estabelecimento Comercial\nAGTOT\tAgente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]}}}},"required":["original"]},"chave":{"type":"string","description":"**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","maxLength":77,"examples":["7d9f0335-8dcc-4054-9bf9-0dbd61d36906"]},"solicitacaoPagador":{"type":"string","description":"O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.","maxLength":140,"examples":["Serviço realizado."]},"infoAdicionais":{"type":"array","description":"Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.","maxItems":50,"items":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do campo.","maxLength":50,"examples":["Campo 1"]},"valor":{"type":"string","description":"Dados do campo.","maxLength":200,"examples":["Informação Adicional1 do PSP-Recebedor"]}},"required":["nome","valor"]}},"txid":{"type":"string","description":"Identificador da transação\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\n\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["7978c0c97ea847e78e8849634473c1f1"]},"revisao":{"type":"integer","format":"int32","description":"Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1.","examples":["0"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","maxLength":77,"examples":["pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25"]},"status":{"type":"string","description":"Status da Cobrança","maxLength":31,"examples":["CONCLUIDA"]},"pixCopiaECola":{"type":"string","description":"Pix Copia e Cola correspondente à cobrança.\nTrata-se da sequência de caracteres que representa o BR Code.","pattern":"<= 512 characters","maxLength":512,"examples":["00020101021226920014br.gov.bcb.pix2570qrcodepix-h.bb.com.br/pix/v2/cobv/2f22bc49-a962-4898-8ca2-d2d5"]},"hyperlink":{"type":"string","description":"Hyperlink BB para direcionar o usuário pagador para o pagamento da cobrança.","maxLength":700,"examples":["https://pagamentospix.apps.bb.com.br/m/#/cm49eyJvcHIiOiJQSVhRUkMiLCJpZCI6Ijg5ZmVkNDk2LTdiYWYtNDIxYS0"]},"pix":{"type":"array","description":"Pix recebidos","maxItems":500,"items":{"type":"object","properties":{"endToEndId":{"type":"string","description":"EndToEndIdentification que transita na PACS002, PACS004 e PACS008","pattern":"[a-zA-Z0-9]{32}","maxLength":32,"examples":["E00000000202505061840M6U7TC8ET0D"]},"txid":{"type":"string","description":"**Identificador da transação**\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["7978c0c97ea847e78e8849634473c1f1"]},"valor":{"type":"string","description":"Valor do Pix.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"componentesValor":{"type":"object","description":"O objetivo dessa estrutura é explicar os elementos de composição do valor do Pix, incluindo informações sobre as multas, juros, descontos e abatimentos quando o Pix for relativo a cobranças com vencimento.","properties":{"original":{"type":"object","description":"Pix original","properties":{"valor":{"type":"string","description":"Valor original do Pix.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]}},"required":["valor"]},"saque":{"type":"object","description":"Pix saque.","properties":{"valor":{"type":"string","description":"Valor do Saque Pix.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]},"modalidadeAgente":{"type":"string","description":"Modalidade do Agente.\nAGTEC: Agente Estabelecimento Comercial\nAGTOT: Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS: Agente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque.","pattern":"\\d{8}","maxLength":8,"examples":["12345678"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Pix troco.","properties":{"valor":{"type":"string","description":"Valor do Troco Pix.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]},"modalidadeAgente":{"type":"string","description":"Modalidade do Agente:\nAGTEC: Agente Estabelecimento Comercial\nAGTOT: Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTOT"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque.","pattern":"\\d{8}","maxLength":8,"examples":["12345678"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"juros":{"type":"object","description":"Juros","properties":{"valor":{"type":"string","description":"Valor dos juros.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]}},"required":["valor"]},"multa":{"type":"object","description":"Multa","properties":{"valor":{"type":"string","description":"Valor da multa.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["35.00"]}},"required":["valor"]},"abatimento":{"type":"object","description":"Abatimento","properties":{"valor":{"type":"string","description":"Valor do abatimento.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["3.00"]}},"required":["valor"]},"desconto":{"type":"object","description":"Desconto","properties":{"valor":{"type":"string","description":"Valor do desconto.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["2.00"]}},"required":["valor"]}}},"chave":{"type":"string","description":"**Formato do campo chave**\n- Campo chave do recebedor conforme atribuído na respectiva PACS008.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","pattern":"<= 77 characters","maxLength":77,"examples":["7d9f0335-8dcc-4054-9bf9-0dbd61d36906"]},"horario":{"type":"string","description":"Horário em que o Pix foi processado no PSP.","maxLength":29,"examples":["2020-09-09T20:16:00.358Z"]},"infoPagador":{"type":"string","description":"Informação livre do pagador","maxLength":140,"examples":["Pagamento serviço realizado."]},"devolucoes":{"type":"array","description":"Devoluções","maxItems":500,"items":{"type":"object","properties":{"id":{"type":"string","description":"Id gerado pelo cliente para representar unicamente uma devolução.","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["fsspDuBa4Ljnla7psonywLYX"]},"rtrId":{"type":"string","description":"ReturnIdentification que transita na PACS004.","pattern":"[a-zA-Z0-9]{32}","maxLength":32,"examples":["D12345678202009091000abcde123456"]},"valor":{"type":"string","description":"Valor a devolver.","maxLength":13,"examples":["37.00"]},"natureza":{"type":"string","description":"Natureza","pattern":"<= 15 characters matches [ ORIGINAL, RETIRADA, MED_OPERACIONAL, MED_FRAUDE ]","maxLength":15,"examples":["ORIGINAL"]},"descricao":{"type":"string","description":"Descrição","pattern":"<= 200 characters","maxLength":200,"examples":["Compra estornada"]},"horario":{"type":"object","description":"horario","properties":{"solicitacao":{"type":"string","description":"Horário no qual a devolução foi solicitada no PSP.","maxLength":29,"examples":["2020-09-09T20:17:00.358Z"]},"liquidacao":{"type":"string","description":"Horário no qual a devolução foi liquidada no PSP.","maxLength":29,"examples":["2020-09-09T20:17:01.358Z"]}},"required":["solicitacao"]},"status":{"type":"string","description":"Status da devolução.","maxLength":16,"examples":["DEVOLVIDO"]},"motivo":{"type":"string","description":"Descrição do status da devolução.","maxLength":140,"examples":["Pix não aceito pelo recebdor"]}},"required":["id","rtrId","valor","horario","status"]}}},"required":["endToEndId","valor","horario"]}}},"required":["calendario","valor","chave","txid","revisao","status"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["cob.read"]},{"OAuth2_Teste":["cob.read"]},{"OAuth2_Producao":["cob.read"]}]},"put":{"tags":["Cob"],"summary":"Criar cobrança imediata - COB","description":"Endpoint para criar uma cobrança imediata.\n<br><br>**Responses**<br>\n<br>\n**400**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/CobOperacaoInvalida\",\n  \"title\": \"Cobrança inválida.\",\n  \"status\": 400,\n  \"detail\": \"A requisição que busca alterar ou criar uma cobrança para pagamento imediato não respeita o _schema_ ou está semanticamente errada.\",\n  \"violacoes\": [\n    {}\n  ]\n}\n```\n**403**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n    \"title\": \"Acesso Negado\",\n    \"status\": 403,\n    \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n**503**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n    \"title\": \"Serviço Indisponível\",\n    \"status\": 503,\n    \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434643","parameters":[{"name":"txid","in":"path","description":"txid","required":true,"schema":{"type":"string","maxLength":35}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"calendario":{"type":"object","description":"Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.","properties":{"expiracao":{"type":"integer","format":"int32","description":"Tempo de vida da cobrança, especificado em segundos a partir da data de criação (Calendario.criacao)","pattern":"default: 86400","examples":["3600"]}}},"devedor":{"type":"object","description":"Os campos aninhados sob o objeto devedor são opcionais e identificam o devedor, ou seja, a pessoa ou a instituição a quem a cobrança está endereçada. Não identifica, necessariamente, quem irá efetivamente realizar o pagamento. Um CPF pode ser o devedor de uma cobrança, mas pode acontecer de outro CPF realizar, efetivamente, o pagamento do documento.","properties":{"cpf":{"type":"string","description":"CPF do usuário.","pattern":"[0-9]{11}","maxLength":11,"examples":["12345678910"]},"cnpj":{"type":"string","description":"CNPJ do usuário.","pattern":"[0-9]{14}","maxLength":14,"examples":["12345678000195"]},"nome":{"type":"string","description":"Nome do usuário.","maxLength":200,"examples":["Empresa de Serviços SA"]}},"required":["cpf","cnpj","nome"]},"loc":{"type":"object","description":"Identificador da localização do payload.","properties":{"id":{"type":"integer","description":"Identificador da localização do payload.","examples":["789"]}}},"valor":{"type":"object","description":"Valores monetários referentes à cobrança.","properties":{"original":{"type":"string","description":"Valor original da cobrança.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Trata-se de um campo que determina se o valor final do documento pode ser alterado pelo pagador. Na ausência desse campo, assume-se que não se pode alterar o valor do documento de cobrança, ou seja, assume-se o valor 0. Se o campo estiver presente e com valor 1, então está determinado que o valor final da cobrança pode ter seu valor alterado pelo pagador.","pattern":"minimum: 0\nmaximum: 1","examples":["1"]},"retirada":{"type":"object","description":"É uma estrutura opcional relacionada ao conceito de recebimento de numerário. Apenas um agrupamento por vez é permitido, quando há saque não há troco e vice-versa.","properties":{"saque":{"type":"object","description":"Informações relacionadas ao saque","properties":{"valor":{"type":"string","description":"Valor do saque efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do saque. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"AGTEC: Agente Estabelecimento Comercial\nAGTOT:Agente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS: Agente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Informações relacionadas ao troco","properties":{"valor":{"type":"string","description":"Valor do troco efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do troco. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"SIGLA\tDescrição\nAGTEC\tAgente Estabelecimento Comercial\nAGTOT\tAgente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]}}}},"required":["original"]},"chave":{"type":"string","description":"**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","maxLength":77,"examples":["7d9f0335-8dcc-4054-9bf9-0dbd61d36906"]},"solicitacaoPagador":{"type":"string","description":"O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.","maxLength":140,"examples":["Serviço realizado."]},"infoAdicionais":{"type":"array","description":"Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.","maxItems":50,"items":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do campo.","maxLength":50,"examples":["Campo 1"]},"valor":{"type":"string","description":"Dados do campo.","maxLength":200,"examples":["Informação Adicional1 do PSP-Recebedor"]}},"required":["nome","valor"]}}},"required":["calendario","valor","chave"]}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"calendario":{"type":"object","description":"Dados criados ou alterados da cobrança imediata via API Pix","properties":{"criacao":{"type":"string","description":"Timestamp que indica o momento em que foi criada a cobrança. Respeita o formato definido na RFC 3339.","maxLength":29,"examples":["2020-09-09T20:15:00.358Z"]},"expiracao":{"type":"integer","format":"int32","description":"Tempo de vida da cobrança, especificado em segundos a partir da data de criação (Calendario.criacao)","examples":["3600"]}},"required":["criacao","expiracao"]},"txid":{"type":"string","description":"**Identificador da transação**\nO campo txid, obrigatório, determina o identificador da transação. O objetivo desse campo é ser um elemento que possibilite ao PSP do recebedor apresentar ao usuário recebedor a funcionalidade de conciliação de pagamentos.\nNa pacs.008, é referenciado como TransactionIdentification <txId> ou idConciliacaoRecebedor.","pattern":"[a-zA-Z0-9]{1,35}","maxLength":35,"examples":["7978c0c97ea847e78e8849634473c1f1"]},"revisao":{"type":"integer","format":"int32","description":"Revisão da cobrança. Sempre começa em zero. Sempre varia em acréscimos de 1.","examples":["0"]},"devedor":{"type":"object","description":"Os campos aninhados sob o objeto devedor são opcionais e identificam o devedor, ou seja, a pessoa ou a instituição a quem a cobrança está endereçada. Não identifica, necessariamente, quem irá efetivamente realizar o pagamento. Um CPF pode ser o devedor de uma cobrança, mas pode acontecer de outro CPF realizar, efetivamente, o pagamento do documento. Não é permitido que o campo devedor.cpf e campo devedor.cnpj estejam preenchidos ao mesmo tempo. Se o campo devedor.cnpj está preenchido, então o ca","properties":{"cpf":{"type":"string","description":"CPF do usuário.","pattern":"[0-9]{11}","maxLength":11,"examples":["12345678910"]},"cnpj":{"type":"string","description":"CNPJ do usuário.","pattern":"[0-9]{14}","maxLength":14,"examples":["12345678000195"]},"nome":{"type":"string","description":"Nome do usuário.","maxLength":200,"examples":["Empresa de Serviços SA"]}},"required":["cpf","cnpj","nome"]},"loc":{"type":"object","description":"Identificador da localização do payload.","properties":{"id":{"type":"integer","format":"int32","description":"Identificador da location a ser informada na criação da cobrança.","examples":["789"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","maxLength":77,"examples":["pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25"]},"tipoCob":{"type":"string","description":"Tipo da cobrança\n- cob\n- cobv","maxLength":4,"examples":["cob"]},"criacao":{"type":"string","description":"Data e hora em que a location foi criada. Respeita RFC 3339.","maxLength":29,"examples":["2020-09-09T20:15:00.358Z"]}},"required":["id","location","tipoCob","criacao"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","maxLength":77,"examples":["pix.example.com/qr/9d36b84fc70b478fb95c12729b90ca25"]},"status":{"type":"string","description":"**Status da Cobrança**\n- ATIVA\n- CONCLUIDA\n- REMOVIDA_PELO_USUARIO_RECEBEDOR\n- REMOVIDA_PELO_PSP","maxLength":31,"examples":["ATIVA"]},"valor":{"type":"object","description":"Valores monetários referentes à cobrança.","properties":{"original":{"type":"string","description":"Valor original da cobrança.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Trata-se de um campo que determina se o valor final do documento pode ser alterado pelo pagador. Na ausência desse campo, assume-se que não se pode alterar o valor do documento de cobrança, ou seja, assume-se o valor 0. Se o campo estiver presente e com valor 1, então está determinado que o valor final da cobrança pode ter seu valor alterado pelo pagador.","pattern":"minimum: 0\nmaximum: 1","examples":["1"]},"retirada":{"type":"object","description":"É uma estrutura opcional relacionada ao conceito de recebimento de numerário. Apenas um agrupamento por vez é permitido, quando há saque não há troco e vice-versa.\nQuando uma cobrança imediata tem uma estrutura de retirada ela deixa de ser considerada Pix comum e passa à categoria de Pix Saque ou Pix Troco.\nPara que o preenchimento do objeto retirada seja considerado válido as seguintes regras se aplicam:\nos campos modalidadeAgente e prestadorDoServicoDeSaque são de preenchimento obrigatório;","properties":{"saque":{"type":"object","description":"Informações relacionadas ao saque","properties":{"valor":{"type":"string","description":"Valor do saque efetuado","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do saque. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"Modalidade do Agente\nSIGLA\tDescrição\nAGTEC\tAgente Estabelecimento Comercial\nAGTOT\tAgente Outra Espécie de Pessoa Jurídica ou Correspondente no País\nAGPSS\tAgente Facilitador de Serviço de Saque (ATENÇÃO: no mapeamento para o campo 'modalidadeAgente', da pacs.008, esse valor deve ser substituído por AGFSS)","pattern":"[ AGTEC, AGTOT, AGPSS ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]},"troco":{"type":"object","description":"Informações relacionadas ao troco","properties":{"valor":{"type":"string","description":"Valor do troco efetuado","pattern":"\\d{1,10}\\.\\d{2}37.00","maxLength":13,"examples":["37.00"]},"modalidadeAlteracao":{"type":"integer","format":"int32","description":"Modalidade de alteração de valor do troco. Quando não preenchido o valor assumido é o 0 (zero).","pattern":"minimum: 0\nmaximum: 1\ndefault: 0","examples":["1"]},"modalidadeAgente":{"type":"string","description":"Modalidade do Agente\nSIGLA\tDescrição\nAGTEC\tAgente Estabelecimento Comercial\nAGTOT\tAgente Outra Espécie de Pessoa Jurídica ou Correspondente no País","pattern":"[ AGTEC, AGTOT ]","maxLength":5,"examples":["AGTEC"]},"prestadorDoServicoDeSaque":{"type":"string","description":"ISPB do Facilitador de Serviço de Saque","pattern":"\\d{8}","maxLength":8,"examples":["00000000"]}},"required":["valor","modalidadeAgente","prestadorDoServicoDeSaque"]}}}},"required":["original"]},"pixCopiaECola":{"type":"string","description":"Pix Copia e Cola correspondente à cobrança.\nTrata-se da sequência de caracteres que representa o BR Code.","pattern":"<= 512 characters","maxLength":512,"examples":["00020101021226920014br.gov.bcb.pix2570qrcodepix-h.bb.com.br/pix/v2/cobv/2f22bc49-a962-4898-8ca2-d2d5"]},"hyperlink":{"type":"string","description":"Hyperlink BB para direcionar o usuário pagador para o pagamento da cobrança.","maxLength":700,"examples":["https://pagamentospix.apps.bb.com.br/m/#/cm49eyJvcHIiOiJQSVhRUkMiLCJpZCI6Ijg5ZmVkNDk2LTdiYWYtNDIxYS0"]},"chave":{"type":"string","description":"**Formato do campo chave**\n- O campo chave, obrigatório, determina a chave Pix registrada no DICT que será utilizada para a cobrança. Essa chave será lida pelo aplicativo do PSP do pagador para consulta ao DICT, que retornará a informação que identificará o recebedor da cobrança.\n- Os tipos de chave podem ser: telefone, e-mail, cpf/cnpj ou EVP.\n- O formato das chaves pode ser encontrado na seção \"Formatação das chaves do DICT no BR Code\" do Manual de Padrões para iniciação do Pix.","maxLength":77,"examples":["7d9f0335-8dcc-4054-9bf9-0dbd61d36906"]},"solicitacaoPagador":{"type":"string","description":"O campo solicitacaoPagador, opcional, determina um texto a ser apresentado ao pagador para que ele possa digitar uma informação correlata, em formato livre, a ser enviada ao recebedor. Esse texto será preenchido, na pacs.008, pelo PSP do pagador, no campo RemittanceInformation . O tamanho do campo na pacs.008 está limitado a 140 caracteres.","maxLength":140,"examples":["Serviço realizado."]},"infoAdicionais":{"type":"object","description":"Cada respectiva informação adicional contida na lista (nome e valor) deve ser apresentada ao pagador.","properties":{"nome":{"type":"string","description":"Nome do campo.","maxLength":50,"examples":["Campo 1"]},"valor":{"type":"string","description":"Dados do campo.","maxLength":200,"examples":["Informação Adicional1 do PSP-Recebedor"]}},"required":["nome","valor"]}},"required":["calendario","txid","revisao","status","valor","chave"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["cob.write"]},{"OAuth2_Teste":["cob.write"]},{"OAuth2_Producao":["cob.write"]}]}},"/loc/{id}/txid":{"delete":{"tags":["Loc"],"summary":"Desvincular uma cobrança de uma location - LOC","description":"Endpoint utilizado para desvincular uma cobrança de uma location.\r\n\r\nSe executado com sucesso, a entidade loc não apresentará mais um txid, se apresentava anteriormente à chamada. Adicionalmente, a entidade cob ou cobv associada ao txid desvinculado também passará a não mais apresentar um location. Esta operação não altera o status da cob ou cobv em questão.\n<br><br>**Responses**<br>\n<br>\n**403**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n    \"title\": \"Acesso Negado\",\n    \"status\": 403,\n    \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n**503**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n    \"title\": \"Serviço Indisponível\",\n    \"status\": 503,\n    \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434639","parameters":[{"name":"id","in":"path","description":"Id da location cadastrada para servir um payload","required":true,"schema":{"type":"string","maxLength":140}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Identificador da location a ser informada na criação da cobrança.","examples":["2316"]},"location":{"type":"string","description":"Localização do Payload a ser informada na criação da cobrança.","pattern":"maxLength: 77","maxLength":77,"examples":["pix.example.com/qr/v2/2353c790eefb11eaadc10242ac120002"]},"tipoCob":{"type":"string","description":"Tipo da cobrança\n[ cob, cobv ]","maxLength":10,"examples":["cob"]},"criacao":{"type":"string","description":"Data e hora em que a location foi criada. Respeita RFC 3339.","maxLength":29,"examples":["2020-05-31T19:39:54.013Z"]}},"required":["id","location","tipoCob","criacao"]}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["payloadlocation.write"]},{"OAuth2_Teste":["payloadlocation.write"]},{"OAuth2_Producao":["payloadlocation.write"]}]}},"/lotecobv/{id}":{"patch":{"tags":["LoteCobV"],"summary":"Revisar cobranças específicas dentro de um lote de cobranças com vencimento - LOTECOBV","description":"Endpoint utilizado para revisar cobranças específicas dentro de um lote de cobranças com vencimento.\n<br><br>**Responses**<br>\n<br>\n\n**400**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/CobVOperacaoInvalida\",\n  \"title\": \"Operação inválida.\",\n  \"status\": 400,\n  \"detail\": \"Cobrança não encontra-se mais com o status ATIVA, somente cobranças ativas podem ser revisadas.\"\n}\n```\n\n**403**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n  \"title\": \"Acesso Negado\",\n  \"status\": 403,\n  \"detail\": \"Requisição de participante autenticado que viola alguma regra de autorização.\"\n}\n```\n\n**404**<br>\n```\n{\n    \"type\": \"https://api.bb.com.br/api/v2/error/NaoEncontrado\",\n    \"title\": \"Não Encontrado\",\n    \"status\": 404,\n    \"detail\": \"Entidade não encontrada.\"\n    \"correlationId\": \"API-BB-3x3mpl01-3b3f-4997-8c8b-477c368a8bc9\",\n    \"numeroOcorrencia\": 0\n}\n```\n\n**503**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/ServicoIndisponivel\",\n  \"title\": \"Serviço Indisponível\",\n  \"status\": 503,\n  \"detail\": \"Serviço não está disponível no momento. Serviço solicitado pode estar em manutenção ou fora da janela de funcionamento.\"\n}\n```","operationId":"18434657","parameters":[{"name":"id","in":"path","description":"Identificador do lote de cobranças com vencimento, em formato de texto.","required":true,"schema":{"type":"string","maxLength":140}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"descricao":{"type":"string","description":"Descrição do lote","maxLength":140,"examples":["TesteLoteCobv1Descricao"]},"cobsv":{"type":"array","description":"Array of objects","maxItems":500,"items":{"type":"object","properties":{"txid":{"type":"string","description":"Id da Transação","pattern":"[a-zA-Z0-9]{26,35}","maxLength":35,"examples":["TesteLoteCobv1Txid"]},"calendario":{"type":"object","description":"object (Calendário) - Os campos aninhados sob o identificador calendário organizam informações a respeito de controle de tempo da cobrança.","properties":{"dataDeVencimento":{"type":"string","description":"Data de vencimento da cobrança","maxLength":10,"examples":["2024-12-26"]},"validadeAposVencimento":{"type":"integer","format":"int32","description":"Validade após vencimento - Trata-se da quantidade de dias corridos após calendario.dataDeVencimento, em que a cobrança poderá ser paga.\nDefault: 30","examples":["30"]}},"required":["dataDeVencimento"]},"devedor":{"type":"object","description":"Pessoa Física (object) or Pessoa Jurídica (object)\nO objeto devedor organiza as informações sobre o devedor da cobrança.","properties":{"cpf":{"type":"string","description":"CPF do usuário.","pattern":" /^\\d{11}$/","maxLength":11,"examples":["12345678900"]},"cnpj":{"type":"string","description":"CNPJ do usuário.","pattern":" /^\\d{14}$/","maxLength":14,"examples":["12345678000190"]},"nome":{"type":"string","description":"Nome do usuário.","pattern":"<= 200 characters","maxLength":200,"examples":["NOMETESTE DA SILVA"]},"email":{"type":"string","description":"Email do usuário.","maxLength":256,"examples":["hmtestes2@bb.com.br"]},"logradouro":{"type":"string","description":"Logradouro do usuário.","pattern":"<= 200 characters","maxLength":200,"examples":["Rua A, 123"]},"cidade":{"type":"string","description":"Cidade do usuário.","pattern":"<= 200 characters","maxLength":200,"examples":["São Paulo"]},"uf":{"type":"string","description":"UF do usuário.","pattern":"<= 2 characters","maxLength":2,"examples":["SP"]},"cep":{"type":"string","description":"CEP do usuário.","pattern":"<= 8 characters","maxLength":8,"examples":["12345678"]}},"required":["cpf","cnpj","nome"]},"loc":{"type":"object","description":"object - Identificador da localização do payload.","properties":{"id":{"type":"integer","description":"Id da loc","examples":["1234"]}}},"status":{"type":"string","description":"Status do registro de cobrança","maxLength":50,"examples":["REMOVIDA_PELO_USUARIO_RECEBEDOR"]},"valor":{"type":"object","description":"object - Valores monetários.","properties":{"original":{"type":"string","description":"Valor original da cobrança.","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["123.00"]},"multa":{"type":"object","description":"object - Multa aplicada à cobrança","properties":{"modalidade":{"type":"integer","format":"int32","description":"Modalidade da multa, conforme tabela de domínios.\n1  - Valor Fixo\n2 - Percentual","pattern":"[ 1 .. 2 ]","examples":["1"]},"valorPerc":{"type":"string","description":"Valor percentual dos juros","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["12.00"]}},"required":["modalidade","valorPerc"]},"juros":{"type":"object","description":"object -Juro aplicado à cobrança","properties":{"modalidade":{"type":"integer","format":"int32","description":"Modalidade de juros, conforme tabela de domínios.\n1 - Valor (dias corridos)\n2 - Percentual ao dia (dias corridos)\n3 - Percentual ao mês (dias corridos)\n4 - Percentual ao ano (dias corridos)\n5 - Valor (dias úteis)\n6 - Percentual ao dia (dias úteis)\n7 - Percentual ao mês (dias úteis)\n8 - Percentual ao ano (dias úteis)","pattern":"[ 1 .. 8 ]","examples":["1"]},"valorPerc":{"type":"string","description":"Valor ou percentual dos juros","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["12.00"]}},"required":["modalidade","valorPerc"]},"abatimento":{"type":"object","description":"object - Abatimento aplicado à cobrança","properties":{"modalidade":{"type":"integer","format":"int32","description":"Modalidade de abatimentos, conforme tabela de domínios.\n1 - Valor Fixo\n2 - Percentual","pattern":"[ 1 .. 2 ]","examples":["1"]},"valorPerc":{"type":"string","description":"Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["12.00"]}},"required":["modalidade","valorPerc"]},"desconto":{"type":"object","description":"object - Descontos aplicados à cobrança","properties":{"modalidade":{"type":"integer","format":"int32","description":"Modalidade de desconto, conforme tabela de domínios.\n1 - Valor Fixo até a[s] data[s] informada[s]\t\n2 - Percentual até a data informada\t\n3 - Valor por antecipação dia corrido\t\n4 - Valor por antecipação dia útil\t\n5 - Percentual por antecipação dia corrido\t\n6 - Percentual por antecipação dia útil","pattern":"[ 1 .. 6 ]","examples":["1"]},"descontoDataFixa":{"type":"array","description":"Descontos absolutos aplicados à cobrança.\n[ 1 .. 3 ]","maxItems":3,"items":{"type":"object","properties":{"data":{"type":"string","description":"Data limite para o desconto absoluto da cobrança.","maxLength":10,"examples":["2024-12-26"]},"valorPerc":{"type":"string","description":"Valor do desconto absoluto - Desconto em valor absoluto ou percentual por dia, útil ou corrido, conforme valor.desconto.modalidade","pattern":" \\d{1,10}\\.\\d{2}","maxLength":13,"examples":["12.00"]}},"required":["data","valorPerc"]}},"valorPerc":{"type":"string","description":"Abatimentos ou outras deduções aplicadas ao documento, em valor absoluto ou percentual do valor original do documento.","pattern":"\\d{1,10}\\.\\d{2}","maxLength":13,"examples":["12.00"]}},"required":["modalidade","valorPerc"]}}},"chave":{"type":"string","description":"Chave DICT do recebedor","pattern":"<= 77 characters","maxLength":77,"examples":["+5511985732102\n\nhmtestes2@bb.com.br\n\n12345678900 \n00123456789\n\n12345678901234\n0012345678"]},"solicitacaoPagador":{"type":"string","description":"Solicitação ao pagador","pattern":"<= 140 characters","maxLength":140,"examples":["SolicitacaoPagadorqualquercoisaate140caracteres01"]},"infoAdicionais":{"type":"array","description":"Array of objects (Informações adicionais)","maxItems":50,"items":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do campo (infoAdicionais)","pattern":"<= 50 characters","maxLength":50,"examples":["Nome do campo"]},"valor":{"type":"string","description":"Dados do campo.","pattern":"<= 200 characters","maxLength":200,"examples":["Dados do campo"]}},"required":["nome","valor"]}}},"required":["txid"]}}}}}}},"responses":{"202":{"description":"OK"},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["lotecobv.write"]},{"OAuth2_Teste":["lotecobv.write"]},{"OAuth2_Producao":["lotecobv.write"]}]},"get":{"tags":["LoteCobV"],"summary":"Consultar um lote específico de cobranças com vencimento - LOTECOBV","description":"Endpoint para consultar um lote de cobranças com vencimento.\n<br><br>**Responses**<br>\n<br>\n\n**403**<br>\n```\n{\n  \"type\": \"https://api.bb.com.br/api/v2/error/AcessoNegado\",\n  \"title\": \"Acesso Negado\",\n  \"status\": 403,\n  \"detail
[...]
